.App {
  display: flex;
  flex-direction: row;
}

.left-column {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: left;
}

.right-column {
  width: 70%;
  padding: 20px;
}

.profile p:nth-child(0) {
  text-align: left;
}

.profile p:nth-child(1) {
  text-align: justify;
}

.job ul {
  list-style-type: disc;
  margin-left: 20px;
}

.certification-list a {
  color: #000000;
  text-decoration: none;
}
.certification-list a:hover {
  color: rgb(8, 0, 255);
  text-decoration: none;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  
  .left-column, .right-column {
    width: 100%;
    padding: 10px;
  }
}